
.bar-top-contact{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-top);
    color: var(--top-link-color);
    padding: 20px 30px;
    box-shadow: 0px 2px 6px rgb(150, 150, 156);
}

.top-contact{
    color: var(--top-link-color);
    text-decoration: none;
}

.top-contact:hover {
    color: var(--link-hover);
}

.top-contact:active {
    color: #ff0000;
}

.top-contact:focus{
    outline-color: #ff0000;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .logo {
    font-family: "Matemasie", sans-serif;
    font-size: 1.5rem;
    color: rgb(2, 91, 173);
}

.menu-top {
    display: flex;
    list-style-type: none;
    padding: 10px 0;
}

.item-menu > a{
    padding: 0 10px;
    display: block;
    text-decoration: none;
}

.item-menu > a:hover {
    color: var(--link-hover);
}

.mae {
    background-color: aqua;
    width: 600px;
    font-size: 2rem;
}

.filha {
    width: 50%;
    font-size: 2em;
    font-family: "Bungee Tint", sans-serif;
    color: rgb(243, 153, 153);
    cursor: pointer;
}

/* Menu responsivo */
@media screen and (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .menu-top {
        display: none;
        position: absolute;
        left: -341px;
        top: 30px;
        width: 100px;
        background-color: rgb(225, 225, 225);
    }


}

@media screen and (min-width: 576px) {
    .btn-menu-top {
        display: none;
    }
}

