.content-main {
    display: flex;
}

.main {
    width: 50%;
    padding: 30px;
}
.main h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px;
}

.teste {
    background-color: #0000ff;
    color: aliceblue;
    position: sticky;
    top: 0;
}

.main div.slogan {
    border: 1px solid #000;
    /*overflow: auto;*/
    height: 200px;
}

.boy {
    width: 50%;
}



