.content-main {
    align-items: center;
}

.main {
    padding: 15px 0;
}

.content-main img {
    max-width: 100%;
    height: auto;
}

.main h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px;
    font-size: 1.9rem;
    color: rgb(123, 123, 177)
}

.main p.slogan {
    font-size: 1.3rem;
    padding: 8px 0;
    color: #919191;
    line-height: 40px;
}

.boy {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}