.modal {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000c5, #00000047);
    cursor: no-drop;
    display: none;
}

.content-contact {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contact-us{
    background-color: #fff;
    width: 40%;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 31px;
}

.titulo {
    background: linear-gradient(#00058f, #0134ff);
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

.fomulario, .rodape {
    padding: 5px 10px 15px;
    font-size: 0.6rem;
}

.fomulario input {
    width: 100%;
    padding: 5px;
}

.fomulario label {
    display: block;
}


.fomulario div {
    padding: 5px 0;
}