
.m-service {
}

.servicos-item {
    padding: 20px 30px;
    background-color: #03479F;
    margin: 0 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;
}
.servicos-item span{
    display: block;
    padding: 0  0 20px;
}

.servicos-item:hover {
    background-color: #447DF0;
    cursor: pointer;
    color: #000000;
}

.s-item {
    
}

.servicos-item.format {
    background-color: #0098be;
    color: rgb(255, 255, 255);
}

.all {
    display: flex;
}

.servicos {
    transform: translateY(-50%);
}












/* .servicos {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-weight: bold;
    background-image: linear-gradient(
        red, blue, green
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(20deg);
}

.div1 {
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    margin: 0 200px;
    background-color: #ca2e2e;
}
.div2 {
    width: 100px;
    height: 100px;
    border: solid 1px #ca2e2e;
    transform: rotate(0deg);
    transform-origin: 100% 0;
    transition-property: transform, background-color;
    transition-timing-function: ease-out;
    transition-duration: 1s, 2s;
    background-color: aqua;
    
}
@keyframes exemplo {
    0% {
        background-color: #f700ff;
        position: absolute;
        left: 10px;
        top: 50px;
        opacity: 0;
    }
    
    50% {
        background-color: #0077ff;
        position: absolute;
        left: 150px;
        top: 50px;
        opacity: 1;
    }

    75%{
        background-color: green;
        position: absolute;
        left: 10px;
        top: 300px;
        opacity: 0;
    }

    100%{
        background-color: green;
        position: absolute;
        left: 10px;
        top: 50px;
        opacity: 1;
    }
}

.div4 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 50px;
    background-color: #f700ff;
    animation-name: exemplo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.div2:hover {
    width: 100px;
    cursor: pointer;
    transform: rotate(90deg);
    transform-origin: 100% 0;
    background-color: chartreuse;
} */
