:root {
    --color-top: #000; 
    --font-root: 20px;
    --top-link-color: #fff;
}

* {
    margin: 0;
}

html {
    font-size: var(--font-root);
}

.container {
}

.bar-top-contact{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-top);
    color: var(--top-link-color);
    padding: 20px 30px;
}

.top-contact{
    color: var(--top-link-color);
    text-decoration: none;
}

.top-contact:hover {
    color: #27e2ff;
}

/* Operador AND */
/*.numero.testando1{
    color: blueviolet;
}
*/

/* css em cascata */
/*
.home {
    color: blueviolet;
}

.cascata {
    color: aqua;
}
*/


/*
#em {
    color: brown;
}

.email {
    color: blue !important;
}

span {
    color: rgb(10, 199, 0);
}
*/

/* Testando seletores combinators */
/*
div[role="hide"] {
    color: rgb(0, 87, 210);
}
*/

/* Testando seletores combinators */
/*
.container > span{
    color: aqua;
}

.container span{
    color: aqua;
}
*/

/* Testando seletores simples */
/*
* {
    color: chocolate;
}
div#inance, div.email {
    color: blue;
}

.container {
    color:red;
    font-size: 20px;
}

div.email {
    color: blue;
    font-size: 15px;
}

#inance {
    color: rgb(73, 226, 43);
}

span {
    color: blueviolet;
}
*/