:root {
    --color-top: #161616; 
    --font-root: 20px;
    --top-link-color: #fff;
    --link-hover: #00a0b8;
}

* {
    margin: 0;
}

html {
    font-size: var(--font-root);
}

a {
    color: var(--color-top);
    text-decoration: none;
}

@font-face {
    font-family: pepper;
    src: url(../fonts/pepper-sauce.ttf);
}

.container {
    margin: 5px 20px;
}

.btn {
    font-size: 0.8rem;
    background: linear-gradient(#ff9e27, #a45a00);
    padding: 2px 9px;
    border-radius: 5px;
    color: #3b1107;
    max-width: 100px;
    display: block;
    line-height: 20px;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(#a45a00, #ff9e27);
    color: #fff;
}