:root {
    --color-top: #000; 
    --font-root: 20px;
    --top-link-color: #fff;
    --link-hover: #00a0b8;
}

* {
    margin: 0;
}

html {
    font-size: var(--font-root);
}

a {
    color: var(--color-top);
}